* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    width: 100%;
    background-color: darkseagreen;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 8px rgba(blue, green, blue, alpha)
}

.nav-logo {
    font-size: 20px;
    font-weight: bold;
    color: cornflowerblue;
}

.nav-menu {
    
}